<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask MNIST</title>
</head>
    <body>

        <center>
            <h1>MNIST Handwriting Recognition Deep Learning Neural Network App</h1>
            <p>Draw a number from 0 to 9 below...</p>
            <canvas width="280" height="280" id="canvas" style="border:1px solid black;"></canvas>

            <form method="post" name="form1">
                <input name="digit" id='digit' type="hidden"/>
            </form>
            <input type="button" onclick="handleSubmit()" value="Detect"/>
            <input type="button" onclick="handleClear()" value="clear"/>
        </center>

        <script type="text/javascript">
            /* Canvas code adapted from https://jsfiddle.net/j3xDg/ */

            var canvasWidth = 280;
            var canvasHeight = 280;

            var canvas = document.querySelector('#canvas');
            var ctx = canvas.getContext('2d');
            var mouse = {x: 0, y: 0};
            var last_mouse = {x: 0, y: 0};

            /* Mouse Capturing Work */
            canvas.addEventListener('mousemove', function(e) {
                last_mouse.x = mouse.x;
                last_mouse.y = mouse.y;

                /* Modified this to avoid problems with
                   scrolling the page */
                if (e.offsetX) {
                    mouse.x = e.offsetX;
                    mouse.y = e.offsetY;
                }
                else if (e.layerX) {
                    mouse.x = e.layerX;
                    mouse.y = e.layerY;
                }
            }, false);

            window.onload = function() {
                var canvas = document.getElementById("canvas");
                var context = canvas.getContext("2d");
                context.rect(0, 0, canvasWidth, canvasHeight);
                context.fillStyle = 'white';
                context.fill();
            }

            /* Drawing on Paint App */
            ctx.lineWidth = 20;
            ctx.lineJoin = 'round';
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'black';

            canvas.addEventListener('mousedown', function(e) {
                canvas.addEventListener('mousemove', onPaint, false);
            }, false);

            canvas.addEventListener('mouseup', function() {
                canvas.removeEventListener('mousemove', onPaint, false);
            }, false);

            var onPaint = function() {
                ctx.beginPath();
                ctx.moveTo(last_mouse.x, last_mouse.y);
                ctx.lineTo(mouse.x, mouse.y);
                ctx.closePath();
                ctx.stroke();
            };

            function handleClear() {
                var canvas = document.getElementById("canvas");
                var context = canvas.getContext("2d");
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.rect(0, 0, canvasWidth, canvasHeight);
                context.fillStyle = 'white';
                context.fill();
            }

            function handleSubmit() {
                var canvas = document.getElementById("canvas");
                var dataURL = canvas.toDataURL("image/png");
                document.getElementById('digit').value = dataURL;
                document.forms["form1"].submit();
            };
        </script>
    </body>
</html>
